#section1 {
    width: 75rem;
    height: 22.83rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    margin:7.5rem;
}
#spacer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1 .top {
    display: flex;
    justify-content: space-between;
}
#section1 .top div h1 {
    color: var(--white, #FFF);
    font-family: Zen Maru Gothic;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5625rem; /* 101.786% */
    letter-spacing: -0.14rem;
    width: 36.625rem;
    height: 6.90219rem;
    flex-shrink: 0;
}
#section1 .top div p{
    color: var(--white, #FFF);
    font-family: Zen Maru Gothic;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 26.6875rem;
    height: 5.2675rem;
    flex-shrink: 0;
    margin-right: 10.62rem;
}
#section1 .bottom .right p{
    color: var(--white, #FFF);
    font-family: Zen Maru Gothic;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 37.25rem;
    height: 5.2675rem;
    flex-shrink: 0;
    margin:0;
}
#section1 .bottom .right h2{
    width: 11.875rem;
    height: 3.14838rem;
    flex-shrink: 0;
    color: var(--white, #FFF);
    font-family: Zen Maru Gothic;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.1125rem;
}
#section1 .top div:nth-child(2) {
    margin:1.82rem;
}
hr {
    width: 100%;
    height: 0.125rem;
    background-color: white;
}
#section1 .bottom {
    display:flex;
    justify-content: space-between;
}
#section1 .bottom .right, #section1 .bottom .left {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}